<div{{ attributes }}>
    <h3>Auto upload (multiple files):</h3>
    <div>
        <input data-action="change->live#uploadFile" data-action-name="test" type="file" name="autoFiles[]" multiple autocomplete="off" />
        {% if this.getError('autoFiles[0]') %}
            <div class="error">
                <small>Note: this shows only errors for the first file.</small>
                {{ this.getError('autoFiles[0]').message }}
            </div>
        {% endif %}
    </div>

    <h3>Manual upload:</h3>
    <div>

        <input data-action="live#update" type="file" name="manualFile" autocomplete="off" />
        {% if this.getError('manualFile') %}
            <div class="error">
                {{ this.getError('manualFile').message }}
            </div>
        {% endif %}
        <button
                data-action="live#action"
                data-action-name="upload_files(manualFile)|test"
        >Send!</button>
    </div>

    <h2>Auto files</h2>
    <ul>
        {% for files in this.autoFiles %}
            {% if files is not iterable %}
                {% set files = [files] %}
            {% endif %}
            {% for file in files %}
                <li>{{ file.clientOriginalName }} ({{ file.guessClientExtension }}, {{ file.size }})</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>Manual file</h2>
    <ul>
        {% if manualFile %}
            <li>{{ manualFile.clientOriginalName }} ({{ manualFile.guessClientExtension }}, {{ manualFile.size }})</li>
        {% endif %}
    </ul>
</div>
