<div{{ attributes }}
        data-action="change->live#action"
        data-action-name="files(form[file][])|test"
>
    <input type="file" name="form[file][]" {{ stimulus_target('live', 'file')}} multiple />

    <ul>
        {% for files in this.files %}
            {% if files is not iterable %}
                {% set files = [files] %}
            {% endif %}
            {% for file in files %}
                <li>{{ file.clientOriginalName }} ({{ file.guessClientExtension }}, {{ file.size }})</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
